body {
    font-family: Arial, sans-serif;
    background-color: #f0f4ff;
    margin: 20px;
    padding: 20px;
    color: #333;
    text-align: center;
}

h1, h2 {
    color: #4b4bff;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

button{
    background-color: #4b4bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: 300px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4b4bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3333cc;
}

a {
    color: #3333cc;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 8px 0;
}
