<!DOCTYPE html>
<html>
    <head>
        <h2>Enter your Details below</h2>
        <link rel = "stylesheet" href= '../static/style1.css'>
        <script src = '../javascript/display.js'></script>
    </head>
    <body>
        <form onsubmit="display(); return false;">
            <label>
                Name: <input  type = "text" id = "name" name = "name" required 
                        placeholder="Enter your name" pattern="[A-Za-z]" title = "only alphabets"> <br>

                Password: <input type = "password" id = "password" name = "password" required
                            placeholder="Enter the password" required minlength="8" title="minimum 8 characters"><br>

                <button type = "submit">Show Details</button>
                
            </label>
            
        </form>

        

    </body>
</html>