<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = '../static/style1.css'>
        <script src = '../javascript/display.js'></script>
        <h1>Register</h1>
    </head>
    <body>
        <form onsubmit="display(); return false;">
            <label>
                Name: <input type = "text" id = "name" name = "name" required
                placeholder="Enter your Full Name"  title = "Only use Alphabets"> <br>

                Password: <input type = "text" id = "password" name = "password" required
                placeholder="Enter Password" required minlength="8" title="Enter minimum 8 characters"> <br>

                Confirm Password: <input type = "password" id = "confpassword" name = "confpassword" required
                placeholder="Confirm Your Password" > <br>

                Mail ID: <input type = "text" id = "mail" name="mail" required
                placeholder="Enter your Mail ID" pattern="[a-zA-Z0-9._]+@[a-z]+\.[a-zA-Z]{2,}$" title="Enter a valid mail id e.g: someone@example.com"> <br>

                <div id="error" style="color: red;"></div><br>

                <button type="submit" >Register</button>

            </label>
        </form>
    </body>
</html>