<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='javascript/updatevalidation.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/delete.js') }}"></script>
    </head>

    <body>
        <h2>Edit Profile ✏️</h2>
        <form onsubmit="submitUpdate(event);">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age"><br><br>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob"><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>

            <label for="contact">Contact:</label>
            <input type="text" id="contact" name="contact"><br><br>


            <input type="submit" value="Save Changes">


            <div id = "error" style = "color: red;"></div>
            <br>
            
        </form>
        <form onsubmit="event.preventDefault(); deleteProfile();">
            <button type="submit">Delete Profile</button>
        </form>

    </body>
</html>
